    <p>historial-reportes works!</p>

    <!-- 🔻 BARRA SUPERIOR -->
    <div class="toolbar">
    <img src="assets/CMR.jpg" style="cursor:pointer" routerLink="/inicio" />
    <button routerLink="/calculadora">Abrir calculadora</button>
    <button routerLink="/editar">Editar inventario</button>
    <button routerLink="/historial">Historial de reportes</button>
    <button routerLink="/login">Cerrar sesión</button>
    </div>

    <div class="calendar-container">

    <!-- 🔻 Encabezado del calendario -->
    <div class="calendar-header">
  <button (click)="prevMonth()">&#9664;</button>

  <div class="month-year-container">
    <h2>{{ monthNames[currentMonth] }} {{ currentYear }}</h2>
    <button class="calendar-picker-btn" (click)="toggleMiniCalendar()">📅</button>
    
    <!-- Mini calendario emergente -->
    <div class="mini-calendar" *ngIf="showMiniCalendar">
      <input type="month" (change)="onMiniCalendarChange($event)" />
    </div>
  </div>

  <button (click)="nextMonth()">&#9654;</button>
</div>


    <!-- 🔻 Días de la semana -->
    <div class="calendar-weekdays">
        <div *ngFor="let day of weekDays">{{ day }}</div>
    </div>

    <!-- 🔻 Cuadros del mes -->
    <div class="calendar-grid">
        <div class="calendar-day"
            *ngFor="let day of daysInMonth"
            [class.empty]="day === 0"
            (click)="selectDate(day)"
        >
        <span *ngIf="day !== 0">{{ day }}</span>
        </div>
    </div>

    </div>
